html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
   
   /* final del reset css jejeje para que todo sea igual 
   sin importar donde te conectas */

   body{
       font-size: 62.5%;
   }

   h1{
       font: normal 2.4em Verdana, Geneva, sans-serif;
       background:-moz-linear-gradient(top, black, gray);
       background:-webkit-linear-gradient(top, black, gray);
       width: 35%; 
       border-radius: 10px;
       border-color: black;
       /*margin: 5px, 10px; Va por parejas, margen top y botton de 5px.
                            Margen left, right de 10px.*/
        margin: 15px auto; /*Se ajusta automaticamente*/
        text-align: center;
        padding: 15px;
        color:white;
        box-shadow: blueviolet 5px 5px 10px;
        text-shadow: white 2px 2px 3px;
    }